//-
   Created by youqingkui on 15/4/13.


extends layout

block content
  p Sometimes I will write some simple notes, usually above EverNote. So with this simple site. I, youqingkui, a Node and Python enthusiasts.
