//
   Created by youqingkui on 15/3/25.

extends layout
block content
  div#main.cf
    ul.archive-list
      each v, k in archive
        li.list-years= k
        ul.listing
          each j in v
            li.listing-item
              span.date=getLocalTime(j.created/1000)
              a(href='/note/' + j.guid)= j.title


