//-
   Created by youqingkui on 15/3/25.

extends layout
//-block content
//-  div#main.cf
//-    ul.archive-list
//-      each archive in archives
//-        each v, k in archive
//-          li.list-years= k
//-          ul.listing
//-            each j in v
//-              li.listing-item
//-                span.date=getLocalTime(j.created/1000)
//-                a(href='/note/' + j.guid)= j.title


block content
  div#main.cf
    ul.archive-list
      each archive, year  in archives
        li.list-years= year
        each v, k in archive
          ul.listing
              li.listing-item
                span.date=getLocalTime(v.created/1000)
                a(href='/note/' + v.guid)= v.title


