//-
   Created by youqingkui on 15/3/25.

footer#footer
  .footer-right

  .copyright
    | Powered by  
    a(href='https://dev.yinxiang.com/', target='_blank')
      img(src='/images/yinxiang-favicon.png' width="15px" height="14px")
      |印象笔记
    | &nbsp; Theme-based
    a(href='http://motype.org', target='_blank') &nbsp; Deepure
