extends layout

block content
  div#main.cf
    include primary

    include sider


block script
  //- script(type='text/javascript').
  //-  var duoshuoQuery = {short_name:"youqingkui-me"};
  //-  (function() { var ds = document.createElement('script'); ds.type = 'text/javascript';ds.async = true;
  //-    ds.src = '//static.duoshuo.com/embed.js';ds.charset = 'UTF-8';
  //-    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
  //-  })();

  //- script(type='text/javascript').
  //-  /* * * CONFIGURATION VARIABLES * * */
  //-  var disqus_shortname = 'farbox-youqingkui';
  //-  /* * * DON'T EDIT BELOW THIS LINE * * */
  //-  (function () {
  //-  var s = document.createElement('script'); s.async = true;
  //-  s.type = 'text/javascript';
  //-  s.src = '//' + disqus_shortname + '.disqus.com/count.js';
  //-  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  //-  }());
