doctype html
html
  head
    title= title
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='viewport', content="width=device-width, initial-scale=1")
    meta(name='description', content='友情的EverNote笔记')
    meta(name='keywords', content='Node,Python,JavaScript')
    meta(name='author', content='youqingkui@foxmail')
    link(rel='styleSheet', href='/lib/fabox/font-awesome.min.css')
    //- link(rel='styleSheet', href='/lib/fabox/normalize.scss.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(type='image/x-icon', rel='icon', href='/images/favicon.ico')
    link(type='image/x-icon', rel='shortcut icon', href='/images/favicon.ico')
    <!--[if IE 9]>
    script(type='text/javascript', src='/lib/fabox/html5.js')
    <![endif]-->


    block header

  body

    div#wrap
      include nav



      block content


      include footer



    block script
      //script(src='/lib/jquery/jquery.min.js')
      //script(src='/javascripts/link.js')
      //script(src='/lib/bootstrap/js/bootstrap.min.js')