//
   Created by youqingkui on 15/3/23.

header#header.cf
  .logo
    a(href='/') YouQingKui’s Notes
  nav.main-nav
    ul.menu
      li
        a#home(href='/') Home
      li
        a#archive(href='/archive') Archive

      li
        a(href='/about') About