//
   Created by youqingkui on 15/3/23.

header#header.cf
  .logo
    a(href='/') youqingkui
  nav.main-nav
    ul.menu
      li
        a.selected.active.current(href='/') Home
      li
        a(href='/archive') Archive