//
   Created by youqingkui on 15/3/22.

extends layout

block content
  div#main.cf
    div.primary
      article.post
        header
          h2
            a(href='/note/' +  note.guid)= note.title
          .entry-meta
            span
              i.fa.fa-calendar &nbsp;
                = getLocalTime(note.created / 1000)

            if note.tags.length
              li.fa.fa-tags
                each t in note.tags
                  a.tag(href='/tag/' + t) &nbsp;
                    = t

            if getLocalTime(note.created / 1000) != getLocalTime(note.updated / 1000)
              span.count
                i.fa.fa-clock-o &nbsp;
                  = getLocalTime(note.updated/1000)

            //span.count
            //  i.fa.fa-book
            //  // fb:59815b34ea36246b7f25c9ceddd86eb2:visits
            //  | 2
              // /fb
        .entry!= note.content
        .ds-thread(data-thread-key='#{note.guid}', data-title='#{note.title}', data-url='note/' +  note.guid)
        script(type='text/javascript').
          var duoshuoQuery = {short_name:"youqingkui-me"};
          (function() { var ds = document.createElement('script'); ds.type = 'text/javascript';ds.async = true;
            ds.src = '//static.duoshuo.com/embed.js';ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
          })();



    include sider

block script

