//
   Created by youqingkui on 15/3/22.

extends layout

block content
  div#main.cf
    div.primary
      article.post
        header
          h2
            a(href='/note/' +  note.guid)= note.title
          .entry-meta
            span
              i.fa.fa-calendar &nbsp;
                = getLocalTime(note.created / 1000)

            if note.tags.length
              li.fa.fa-tags
                each t in note.tags
                  a.tag(href='/tag/' + t) &nbsp;
                    = t

            if getLocalTime(note.created / 1000) != getLocalTime(note.updated / 1000)
              span.count
                i.fa.fa-clock-o &nbsp;
                  = getLocalTime(note.updated/1000)


        .entry!= note.content
        div#fb_comments_container
          #disqus_thread
          script(type='text/javascript').
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'youqingkui-me';
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
              var dsq = document.createElement('script');
              dsq.type = 'text/javascript';
              dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          noscript
            | Please enable JavaScript to view the
            a(href='https://disqus.com/?ref_noscript', rel='nofollow') comments powered by Disqus.




    include sider

block script

