.primary
  each note in notes
    article.loop-post
      h2
        a(href='/note/' + note.guid)= note.title
      .entry-meta
        span
          i.fa.fa-calendar &nbsp;
            =getLocalTime(note.created/1000)
        if note.tags.length
          li.fa.fa-tags
            each t in note.tags
              a.tag(href='/tag/' + t) &nbsp;
                = t
              | &nbsp;&nbsp;

        if getLocalTime(note.created / 1000) != getLocalTime(note.updated / 1000)
          span.count &nbsp;&nbsp;
            i.fa.fa-clock-o &nbsp;
              = getLocalTime(note.updated/1000)



  include pager

