.primary
  each note in notes
    article.loop-post
      h2
        a(href='/note/' + note.guid)= note.title
      .entry-meta
        span
          i.fa.fa-calendar &nbsp;
            = note.created
        if note.tags.length
          li.fa.fa-tags
            each t in note.tags
              a.tag(href='/tag/' + t) &nbsp;
                = t
              | &nbsp;&nbsp;

        if note.created != note.updated
          span.count &nbsp;&nbsp;
            i.fa.fa-clock-o &nbsp;
              = note.updated



  include pager

