//-
   Created by youqingkui on 15/3/25.

aside
  h3
    i.fa.fa-comments
    span   Recent Comments

    script(type='text/javascript', src='https://youqingkui-me.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=1&excerpt_length=50&hide_mods=1')

    //script(type='text/javascript').
    //  /* * * CONFIGURATION VARIABLES * * */
    //  var disqus_shortname = 'farbox-youqingkui';
    //  /* * * DON'T EDIT BELOW THIS LINE * * */
    //  (function () {
    //  var s = document.createElement('script'); s.async = true;
    //  s.type = 'text/javascript';
    //  s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    //  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    //  }());

